body {
	background-image:url("./concert.jpg")
}
.platillos, .tommy1{
	display:flex;
	justify-content:space-between;
}

.kick {
	display:flex;
	justify-content:center;
}
.tambores {
	display:flex;
	flex-direction:row;
}

.drumPart {
	width:13%;
	height:200px;
	font-size:30px;
	text-align:center;
	color:white;
	background-color:#333;
	opacity:0.8;
	border-radius:13px;
	box-shadow: 0 0 5px white;
	transition: transform 0.07s;
}

h4 {
	color:#ffc600;
}

.tomUp{
	width:40%;
}

.tommy1{
	width:35%;
}

.middle {
	flex-direction:row;
	display:flex;
	width:33%;
	justify-content:space-around;
	margin-top:10px;
	margin-bottom:3px
}

.mid {
	width:40%;
	height:200px;
	margin: 10px 0 10px 0;
}

.drums {
	width:99.3%;
	margin:auto;
	align-items:center;
}

.kick{
	align-items:center;
}

[id="98"],[id="110"] {
	height:200px;
	width:13%;
	margin:4px 20px 0 20px;
}

.playing {
	transform:scale(1.1);
	border-radius:13px;
	border-color: #ffc600;
	box-shadow: 0 0 30px #ffc600;
	opacity:1;
}
